.flipper_container {
	display: inline-block;
	margin: 10px;
	@include perspective(1000);
}

//.flipper_container:hover .flipper {
//	@include rotateY(180deg);
//}

.flipper_container:hover .front{
	visibility: hidden;
}

.flipper_container:hover .back {
	@include scale(1.100);
	@include transition(0.6s ease-out);
	cursor: pointer;
}

.flipper_container, .front, .back {
	width: 180px;
	height: 260px;
	@include border-radius(3%);
}

.flipper {
	@include transition(0.6s);
	@include transform-style(preserve-3d);
	position: relative;
}

.front, .back {
	@include backface-visibility(hidden);
	position: absolute;
	top: 0;
	left: 0;
}

.back {
	text-align: center;
	z-index: 2;
	padding: 10px;
	background-color: snow;
	@include transition(0.3s ease-in);
}

.front {
	@include rotateY(180deg);
	background-color: coral;
}

.img_container {
	position: relative;
	width: 140px;
	height: 140px;
	margin: 0 auto;
	background-color: white;
	@include border-radius(50%);
}

.img_container img {
	display: block;
	margin: 0 auto;
}