@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato);
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/base/_general.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/base/_general.scss */
html {
  font-size: 62.5%;
}
@media screen and (min-width: 320px) {
  /* line 5, ../sass/base/_general.scss */
  html {
    font-size: 50%;
  }
}

/* line 12, ../sass/base/_general.scss */
body {
  position: relative;
  background-color: #fff;
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 22, ../sass/base/_general.scss */
header, section, aside, nav, div, article, figure, p {
  position: relative;
}

/* line 112, ../sass/utils/_mixins.scss */
form input ::-webkit-input-placeholder {
  color: black;
}
/* line 113, ../sass/utils/_mixins.scss */
form input ::-moz-placeholder {
  color: black;
}
/* line 114, ../sass/utils/_mixins.scss */
form input :-moz-placeholder {
  color: black;
}
/* line 115, ../sass/utils/_mixins.scss */
form input :-ms-input-placeholder {
  color: black;
}

/* line 112, ../sass/utils/_mixins.scss */
form texarea ::-webkit-input-placeholder {
  color: transparent;
}
/* line 113, ../sass/utils/_mixins.scss */
form texarea ::-moz-placeholder {
  color: transparent;
}
/* line 114, ../sass/utils/_mixins.scss */
form texarea :-moz-placeholder {
  color: transparent;
}
/* line 115, ../sass/utils/_mixins.scss */
form texarea :-ms-input-placeholder {
  color: transparent;
}

/* line 34, ../sass/base/_general.scss */
button:focus, input:focus, textarea:focus {
  outline: none;
}

/* line 38, ../sass/base/_general.scss */
h1 {
  position: relative;
  display: block;
  font-size: 51px;
  font-size: 5.1rem;
  font-weight: 700;
  line-height: 1.4em;
  text-transform: uppercase;
  text-align: center;
  z-index: 999;
}

/* line 49, ../sass/base/_general.scss */
h2 {
  position: relative;
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
  font-size: 18px;
  font-size: 1.8rem;
  color: black;
  line-height: 1.3em;
  z-index: 999;
}

/* line 61, ../sass/base/_general.scss */
#pokemons {
  text-align: center;
}

/* line 65, ../sass/base/_general.scss */
button {
  display: block;
  max-width: 180px;
  width: 100%;
  margin: 5px auto;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 800;
  background-color: red;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  border: none;
  cursor: pointer;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  z-index: 0;
}

/* line 83, ../sass/base/_general.scss */
#loader {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../img/loader.gif) no-repeat center;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 9999;
}

/* line 1, ../sass/layout/_card.scss */
.flipper_container {
  display: inline-block;
  margin: 10px;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
}

/* line 11, ../sass/layout/_card.scss */
.flipper_container:hover .front {
  visibility: hidden;
}

/* line 15, ../sass/layout/_card.scss */
.flipper_container:hover .back {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -moz-transition: ease-out 0.6s;
  -o-transition: ease-out 0.6s;
  -webkit-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
  cursor: pointer;
}

/* line 21, ../sass/layout/_card.scss */
.flipper_container, .front, .back {
  width: 180px;
  height: 260px;
  -moz-border-radius: 3%;
  -webkit-border-radius: 3%;
  border-radius: 3%;
}

/* line 27, ../sass/layout/_card.scss */
.flipper {
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* line 33, ../sass/layout/_card.scss */
.front, .back {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 40, ../sass/layout/_card.scss */
.back {
  text-align: center;
  z-index: 2;
  padding: 10px;
  background-color: snow;
  -moz-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

/* line 48, ../sass/layout/_card.scss */
.front {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: coral;
}

/* line 53, ../sass/layout/_card.scss */
.img_container {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  background-color: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 62, ../sass/layout/_card.scss */
.img_container img {
  display: block;
  margin: 0 auto;
}
