.btn_container {
	position: relative;
	padding-top: 15px;
	margin: 0 auto;
	text-align: center;
	@include size(460);
	@include re(480) {
		padding-top: 30px;
	}
		
	.btn_arrow_l, .btn_arrow_r {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		@include rotate(45deg);
	}
	
	.btn_arrow_l {
		border-top: 3px solid #fff;
		border-right: 3px solid #fff;
		opacity: 0.7;
		&:before, &:after {
			content: '';
			position: absolute;
			border-top: 3px solid #fff;
			border-right: 3px solid #fff;
			width: 20px;
			height: 20px;
		}
		&:before {
			top: -9px;
    	left: 2px;
			opacity: 1;
		}
		&:after {
			top: 3px;
    	left: -9px;
			opacity: 0.5;
		}
	}
	
	.btn {
		display: inline-block;
		max-width: 200px;
		width: 100%;
		padding: 20px 0;
		@include frem(18px);
		color: #fff;
		text-transform: uppercase;
		background-color: #e25500;
		vertical-align: middle;
		cursor: pointer;
		margin: 0 30px;
		box-sizing: border-box;
		border: none;
		&:hover {
			background-color: #ff7019;
		}
	}
	
	.btn_arrow_r {
		border-bottom: 3px solid #fff;
		border-left: 3px solid #fff;
		opacity: 0.7;
		&:before, &:after {
			content: '';
			position: absolute;
			border-bottom: 3px solid #fff;
			border-left: 3px solid #fff;
			width: 20px;
			height: 20px;
		}
		&:before {
			top: -9px;
    	left: 2px;
			opacity: 1;
		}
		&:after {
			top: 3px;
    	left: -9px;
			opacity: 0.5;
		}
	}
}